:root {
    --card-color: #e5e5e5;
    --no-shadow: drop-shadow(0 0 0 #999);
    --shadow: drop-shadow(0 0 5px #999);
    --hover-shadow: drop-shadow(0 0 12px #999);
    
    --glow-width: 50px;
    --glow-height: 50px;
    
    --progress-bar-background: #36c5f4;
}

* {
    font-family: Arial, sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
}

.overlay.disabled {
    opacity: 0;
    pointer-events: none;
}

.overlay {
    position: fixed;
    display: flex;
    align-items: safe center;
    justify-content: center;
    transition-duration: 200ms;
    transition-property: opacity;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 100vw;
    min-height: 100vh;
    background: rgba(0,0,0,0.5);
    overflow-y: scroll;
}

.overlay-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 0;
    height: 600px;
}

.achievements {
    overflow: scroll;
    height: 800px;
    transform: translateY(-100px);
    mask-mode: alpha;
    mask-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1) 12.5%, rgba(0,0,0,1) 87.5%, rgba(0,0,0,0));
}

@media (max-width: 710px) {
    .achievements {
        display: none;
    }
}

.achievement {
    width: 250px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 15px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    --icon-color: #fff;
    background: linear-gradient(to right, var(--icon-color) 10%, #fff 10%);
}

.achievement.tier-0 {
    --icon-color: #fff;
}

.achievement.tier-1 {
    --icon-color: #373d46;
}

.achievement.tier-2 {
    --icon-color: #ff8058;
}

.achievement.tier-3 {
    --icon-color: #b5c3fc;
}

.achievement.tier-4 {
    --icon-color: #ffc521;
}

.achievement.tier-5 {
    --icon-color: #82f0ff;
}

.achievement-content {
    text-align: left;
    margin-left: 35px;
}

.achievement-content > .title {
    font-size: 14px;
    font-weight: bold;
}

.achievement-content > .description {
    font-size: 12px;
    width: 182;
}

.achievement-content > .progress {
    font-size: 10px;
    text-align: center;
    height: 10px;
    border-radius: 5px;
    width: 180px;
    border: 1px solid var(--progress-bar-background);
    position: relative;
    
    --percentage: 0%;
}

.achievement-content > .progress::before, .achievement-content > .progress::after {
    content: attr(text-content);
    position: absolute;
    overflow: hidden;
    height: 10px;
    top: 0;
    left: 0;
    border-radius: 6px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

.achievement-content > .progress::before {
    background: #fff;
    color: var(--progress-bar-background);
    width: 100%;
}

.achievement-content > .progress::after {
    width: 100%;
    background: var(--progress-bar-background);
    color: #fff;
    border: 1px solid var(--progress-bar-background);
    transform: translate(-1px, -1px);
    
    clip-path: polygon(0 0, var(--percentage) 0, var(--percentage) 100%, 0 100%);
}

.achievement:first-child {
    margin-top: 100px;
}

.achievement:last-child {
    margin-bottom: 100px;
}

.overlay-card {
    width: 400px;
    height: 600px;
    background: #fff;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.overlay-card > .image {
    background: #ccc;
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    padding: 0;
    margin: 0;
    width: 400px;
    height: 400px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
}

.arrow-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    visibility: hidden;
    pointer-events: none;
}

.arrow-container > .arrow {
    background: #000;
    opacity: 0.3;
    transition-duration: 125ms;
    transition-property: opacity, background;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow-container > .arrow.arrow-left::before {
    content: '';
    border-right: 15px solid #fff;
    border-top: 12px solid rgba(0,0,0,0);
    border-bottom: 12px solid rgba(0,0,0,0);
    height: 0;
    margin-right: 2px;
}

.arrow-container > .arrow.arrow-right::before {
    content: '';
    border-left: 15px solid #fff;
    border-top: 12px solid rgba(0,0,0,0);
    border-bottom: 12px solid rgba(0,0,0,0);
    height: 0;
    margin-left: 2px;
}

.overlay-card > .image::before {
    content: '';
    margin-top: 20px;
    height: 40px;
}

.overlay-card > .image > .play-button {
    background: #ddd;
    position: relative;
    margin-bottom: 20px;
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 20px;
    user-select: none;
    transition-duration: 200ms;
    filter: drop-shadow(0 0 3px #000);
    cursor: pointer;
    color: #000;
    text-decoration: none;
    
    transition-property: background, filter;
}

.overlay-card > .image > .play-button:hover {
    background: #fff;
    filter: drop-shadow(0 0 3px #fff);
}

.overlay-card > .image > .play-button::after {
    content: '';
    border-left: 10px solid black;
    border-top: 8px solid rgba(0,0,0,0);
    border-bottom: 8px solid rgba(0,0,0,0);
    margin-left: 5px;
}

.arrow-container > .arrow:hover {
    background: rgba(0,0,0,0.5);
    opacity: 1;
}

.overlay-card > .text-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.overlay-card > .text-container > .description {
    text-align: left;
    display: flex;
}

.overlay-title {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    display: block;
}

.overlay-card > .text-container > .description > .pre-align {
    width: 265px;
}

.overlay-card > .text-container > .description > .post-align {
    margin-left: 15px;
    width: 80px;
}

.overlay-tags > .tag {
    margin-bottom: 5px;
}

.play-data {
    color: #777;
    font-size: 12px;
}

.play-data > .playtime {
    margin-top: 5px;
    margin-bottom: 5px;
}

body.disabled {
    overflow: hidden;
}

.title-container {
    margin: 0;
    padding: 0;
}

h1.title {
    background: var(--card-color);
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 26px;
    text-align: center;
    font-size: 24px;
    cursor: default;
    transition-duration: 350ms;
    position: relative;
    z-index: 0;
}

h1.title:hover {
    background: rgba(229, 229, 229, 0);
    backdrop-filter: blur(3px);
    color: #fff;
}

.title-container::after {
    position: absolute;
	content: '';
	width: var(--glow-width);
	height: var(--glow-height);
	background-image: linear-gradient(to right, #2d88f7, #ff82bd, #682b9c, #2d88f7);
	animation: 3s bg-animation linear infinite;
	background-size: 200%;
	filter: blur(0px);
	transform: translate(calc(-100% - 10px), 10px);
	background-repeat: repeat;
	z-index: -1;
	border-radius: 26px;
	opacity: 0;
	transition-duration: 250ms;
}

.title-container:hover::after {
	filter: blur(10px);
	opacity: 1.5;
}

.title-bar {
    text-align: left;
}

.search-button {
    width: 34px;
    height: 34px;
    border-radius: 31px;
    background: var(--card-color);
    float: right;
    margin: 10px;
    padding: 10px;
    text-align: center;
    transition-duration: 300ms;
    filter: var(--no-shadow);
    transition-duration: 250ms;
}

.search-button > input {
    position: absolute;
    transform: translate(-27px, -10px);
    width: 34px;
    height: 34px;
    outline: none;
    border-width: 0;
    background: none;
    padding: 10px;
    font-size: 24px;
    transition-duration: 300ms;
    opacity: 0;
}

.search-button:hover {
    filter: var(--shadow);
}

.search-button > input:focus {
    width: 240px;
    transform: translate(-130px, -10px);
    opacity: 1;
}

.search-button > input:not(:placeholder-shown) {
    width: 240px;
    transform: translate(-130px, -10px);
    opacity: 1;
}

.search-button:has(input:focus) {
    width: 240px;
    filter: var(--hover-shadow) !important;
}

.search-button:has(input:not(:placeholder-shown)) {
    width: 240px;
    filter: var(--hover-shadow) !important;
}

.search-button > svg {
    position: absolute;
    pointer-events: none;
    width: 24px;
    height: 24px;
    transform: translate(-12px, 4px);
    opacity: 1;
    transition-duration: 100ms;
}

.search-button:has(input:focus) > svg {
    opacity: 0;
}

.search-button:has(input:not(:placeholder-shown)) > svg {
    opacity: 0;
}

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container-limiter {
    width: calc(100% - 136px);
    margin: auto;
}

.card {
    background: var(--card-color);
    text-align: left;
    width: 200px;
    height: 332px;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: bottom;
    filter: var(--shadow);
    transition-duration: 250ms;
}

.card:hover {
    filter: var(--hover-shadow);
}

.card > img {
    border-radius: 10px 10px 0 0;
    border-bottom: var(--card-color) 3px solid;
    cursor: pointer;
    user-select: none;
    margin: 0;
    min-width: 200px;
    min-height: 200px;
}

.card > img.invalid {
    cursor: default;
}

.card-text {
    padding: 2px 16px;
    padding-bottom: 10px;
}

.card-text > .header {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: #3388de;
    text-decoration: underline;
}

.card-text > .header.invalid {
    color: #ec273f;
    text-decoration: line-through;
    cursor: not-allowed;
}

.card-text > .text {
    font-size: 14px;
    margin-top: 20px;
    cursor: default;
}

.no-results {
    display: inline-block;
    color: #888;
    font-size: 32px;
    padding-top: 30vh;
}

.loading {
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loading-animation;
    animation-timing-function: ease-in-out;
    position: relative;
    display: inline-block;
}

.loading.one {
    animation-delay: 100ms;
}

.loading.two {
    animation-delay: 200ms;
}

.loading.three {
    animation-delay: 300ms;
}

.loading.four {
    animation-delay: 400ms;
}

.loading.five {
    animation-delay: 500ms;
}

.loading.six {
    animation-delay: 600ms;
}

.loading.seven {
    animation-delay: 700ms;
}

.loading.eight {
    animation-delay: 800ms;
}

.loading.nine {
    animation-delay: 900ms;
}

.loading.ten {
    animation-delay: 1000ms;
}

.height-tester {
    opacity: 0;
    position: absolute;
    text-align: left;
    font-size: 14px;
    pointer-events: none;
    user-select: none;
}

.tags, .overlay-tags {
    font-size: 14px;
    display: inline-block;
}

.card-text > .tags {
    padding-top: 10px;
}

.tag {
    border-radius: 10px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 3px;
    user-select: none;
    cursor: pointer;
    display: inline-block;
}

.tag.red {
    background: #ed3e53;
}

.tag.orange {
    background: #e98537;
}

.tag.yellow {
    background: #f3a833;
}

.tag.green {
    background: #9de64e;
}

.tag.blue {
    background: #36c5f4;
}

.tag.purple {
    background: #c878af;
}

.tag.pink {
    background: #ffa2ac;
}

.tag.brown {
    background: #a26d3f;
}

.tag.black {
    background: #10121c;
}

@keyframes bg-animation {
	0% {
		background-position: 200% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes loading-animation {
    0% {
		transform: translateY(0em);
	}
	100% {
		transform: translateY(-0.3em);
	}
}