:root {
    --card-color: #e5e5e5;
    --no-shadow: drop-shadow(0 0 0 #999);
    --shadow: drop-shadow(0 0 5px #999);
    --hover-shadow: drop-shadow(0 0 8px #999);
    
    --glow-width: 50px;
    --glow-height: 50px;
}

* {
    font-family: Arial, sans-serif;
}

body {
    text-align: center;
}

.title-container {
    margin: 0;
    padding: 0;
}

h1.title {
    background: var(--card-color);
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 26px;
    text-align: center;
    font-size: 24px;
    cursor: default;
    transition-duration: 350ms;
    position: relative;
    z-index: 0;
}

h1.title:hover {
    background: rgba(229, 229, 229, 0);
    backdrop-filter: blur(3px);
    color: #fff;
}

.title-container::after {
    position: absolute;
	content: '';
	width: var(--glow-width);
	height: var(--glow-height);
	background-image: linear-gradient(to right, #2d88f7, #ff82bd, #682b9c, #2d88f7);
	animation: 3s bg-animation linear infinite;
	background-size: 200%;
	filter: blur(0px);
	transform: translate(calc(-100% - 10px), 10px);
	background-repeat: repeat;
	z-index: -1;
	border-radius: 26px;
	opacity: 0;
	transition-duration: 250ms;
}

.title-container:hover::after {
	filter: blur(10px);
	opacity: 1.5;
}

.title-bar {
    text-align: left;
}

.search-button {
    width: 34px;
    height: 34px;
    border-radius: 31px;
    background: var(--card-color);
    float: right;
    margin: 10px;
    padding: 10px;
    text-align: center;
    transition-duration: 300ms;
    filter: var(--no-shadow);
    transition-duration: 250ms;
}

.search-button > input {
    position: absolute;
    transform: translate(-27px, -10px);
    width: 34px;
    height: 34px;
    outline: none;
    border-width: 0;
    background: none;
    padding: 10px;
    font-size: 24px;
    transition-duration: 300ms;
    opacity: 0;
}

.search-button:hover {
    filter: var(--shadow);
}

.search-button > input:focus {
    width: 240px;
    transform: translate(-130px, -10px);
    opacity: 1;
}

.search-button > input:not(:placeholder-shown) {
    width: 240px;
    transform: translate(-130px, -10px);
    opacity: 1;
}

.search-button:has(input:focus) {
    width: 240px;
    filter: var(--hover-shadow) !important;
}

.search-button:has(input:not(:placeholder-shown)) {
    width: 240px;
    filter: var(--hover-shadow) !important;
}

.search-button > svg {
    position: absolute;
    pointer-events: none;
    width: 24px;
    height: 24px;
    transform: translate(-12px, 4px);
    opacity: 1;
    transition-duration: 100ms;
}

.search-button:has(input:focus) > svg {
    opacity: 0;
}

.search-button:has(input:not(:placeholder-shown)) > svg {
    opacity: 0;
}

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container-limiter {
    width: calc(100% - 136px);
    margin: auto;
}

.card {
    background: var(--card-color);
    text-align: left;
    width: 200px;
    height: 332px;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: bottom;
    filter: var(--shadow);
    transition-duration: 250ms;
}

.card:hover {
    filter: var(--hover-shadow);
}

.card > img {
    border-radius: 10px 10px 0 0;
    border-bottom: var(--card-color) 3px solid;
    cursor: pointer;
    margin: 0;
    min-width: 200px;
    min-height: 200px;
}

.card > img.invalid {
    cursor: default;
}

.card-text {
    padding: 2px 16px;
    padding-bottom: 10px;
}

.card-text > .header {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: #3388de;
    text-decoration: underline;
}

.card-text > .header.invalid {
    color: #ec273f;
    text-decoration: line-through;
    cursor: not-allowed;
}

.card-text > .text {
    font-size: 14px;
    margin-top: 20px;
    cursor: default;
}

.no-results {
    display: inline-block;
    color: #888;
    font-size: 32px;
    padding-top: 30vh;
}

.loading {
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loading-animation;
    animation-timing-function: ease-in-out;
    position: relative;
    display: inline-block;
}

.loading.one {
    animation-delay: 100ms;
}

.loading.two {
    animation-delay: 200ms;
}

.loading.three {
    animation-delay: 300ms;
}

.loading.four {
    animation-delay: 400ms;
}

.loading.five {
    animation-delay: 500ms;
}

.loading.six {
    animation-delay: 600ms;
}

.loading.seven {
    animation-delay: 700ms;
}

.loading.eight {
    animation-delay: 800ms;
}

.loading.nine {
    animation-delay: 900ms;
}

.loading.ten {
    animation-delay: 1000ms;
}

.height-tester {
    opacity: 0;
    position: absolute;
    text-align: left;
    font-size: 14px;
    pointer-events: none;
    user-select: none;
}

.tags {
    font-size: 14px;
    padding-top: 10px;
    display: inline-block;
}

.tag {
    border-radius: 10px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 3px;
    user-select: none;
    cursor: pointer;
    display: inline-block;
}

.tag.red {
    background: #ec273f;
}

.tag.orange {
    background: #e98537;
}

.tag.yellow {
    background: #f3a833;
}

.tag.green {
    background: #9de64e;
}

.tag.blue {
    background: #36c5f4;
}

.tag.purple {
    background: #c878af;
}

.tag.pink {
    background: #ffa2ac;
}

.tag.brown {
    background: #a26d3f;
}

.tag.black {
    background: #10121c;
}

@keyframes bg-animation {
	0% {
		background-position: 200% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes loading-animation {
    0% {
		transform: translateY(0em);
	}
	100% {
		transform: translateY(-0.3em);
	}
}